.row-fluid#services
  .span10.offset1
    %h2 PW Services
    .tabbable.tabs-left.index-only
      %ul.nav.nav-tabs
        - @service_groups.each do |group|
          %li.nav-header= group.name
          - group.services.each do |service|
            %li{class: ('active' if service == @service)}= link_to(service.name, service)