.row-fluid#services
  .offset1
    %h2 Services
  .row-fluid
    .span10.offset1
      - left_len = (@service_groups.length / 2.0).ceil
      - split = @service_groups.each_slice(left_len).to_a
      - row_pairs = split.first.zip(split.last)
      - row_pairs.each do |groups|
        .row-fluid
          - groups.each do |group|
            .span6
              %h4
                = group.name
              %ul
                - group.services.each do |service|
                  %li= link_to(service.name, service)
