.row-fluid#services
  .offset1
    %h2 PW Services
  .span10.offset1
    .hero-unit.clearfix
      - @service_groups.each do |group|
        %h4
          = group.name
        %ul
          - group.services.each do |service|
            %li= link_to(service.name, service)
