- @contacts = {'Walter Wilhelmi' => 'Audit Partner'}

%p
  We perform audits of financial statements for clients in diverse industries.
  These industries include but are not limited to the following:

  :markdown
    * Large and small businesses
      * Automotive Dealers and Suppliers
      * Construction
      * Financial Institutions
      * Insurance
      * Wholesale and Retail
    * Municipalities and Governmental Entities
      * Cities
      * School Districts
      * Special and Quasi-Governmental Entities
      * Including Single Audit under the Uniform Guidance
    * Non-Profit Organizations
      * Including Single Audit under the Uniform Guidance
    * Employee Benefit Plans
      * 401k Plans
      * Employee Stock Ownership Plans
      * Defined Benefit Plans