%strong Reviews

%p
  Reviews are conducted to provide limited assurance that there are no material modifications that should be made to the financial statements for them to be in conformity with the financial reporting framework.
  Reviews are substantially less in scope than audits and do not include an expression of an opinion regarding the financial statements as a whole.

%strong Agreed-Upon Procedures

%p
  Agreed-Upon Procedures are conducted to test specific business processes unique to each client by procedures agreed-upon by the client.
  Agreed-upon procedures do not constitute an examination or review and do not include an expression of an opinion or conclusion.

%p
  We perform Reviews and Agreed-Upon Procedures for clients in diverse industries.
  These industries include but are not limited to the following:

  :markdown
    * Large and small businesses
      * Automotive Dealers and Suppliers
      * Construction
      * Financial Institutions
      * Insurance
      * Wholesale and Retail
    * Municipalities and Governmental Entities
      * Cities
      * School Districts
      * Special and Quasi-Governmental Entities
    * Non-Profit Organizations
    * Healthcare and Medical
      * Hospitals
      * Medical Clinics
      * Medical Suppliers and Distributers
    * Churches and Ministries
    * Service Organization Controls (SOC) Audits
      * Type 1 – internal controls that affect financial reporting
      * Type 2 – audit of reporting controls as they relate to security, availability, processing integrity, confidentiality, and privacy of a system

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Walter Wilhelmi") + ', Audit Partner'
    %li= bio_link("Josh Olney") + ', Audit Supervisor'