.span10.offset1.description
  %h4{id: 'associate'} Associate
  :markdown

    *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking an Associate to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, internal auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment. Please apply at www.pw-tx.com/careers.

    ##### Qualifications

    * Bachelor’s degree in finance or accounting
    * Developing technical skills
    * Strong interpersonal, oral, and written communication skills
    * Team player with a positive, "can do" attitude
    * Strong documentation and presentation skills

    ##### Preferred, Not Required

    * CPA certification prior to hire (expected to achieve within first two years of employment)
    * Bilingual in English and Spanish
    * Non-Smoker

    ##### Job Description

    The Associate will learn and apply technical skills and work as part of a team in all of the professional service areas, including tax, accounting, audit, internal auditing, consulting and reporting. The ideal candidate will work on a wide variety of engagements, learn and apply technical skills, and work as part of a team to carry out tasks under close coaching and supervision:

    * Develop technical skills both on the job and through formal learning channels
    * Work as an effective team member
    * Build working relationships at peer client level
    * Seek to gain knowledge of client businesses
    * Effectively document work
    * Proficiency in Microsoft Excel, Word and Outlook
    * Some daily travel required

.span4.offset4.actions
  =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"
