.span10.description
  %h4{id: 'assurance-supervisor'} Assurance Supervisor
  :markdown

    ##### Qualifications

    * Bachelor’s or master’s degree in accounting or related field
    * Minimum of  3 years of audit experience
    * Excellent documentation and presentation skills
    * Strong team management, training, and coaching skills


    ##### Job Description

    This position is responsible for supervising assurance engagements, projects and delivering a high quality of service. This position includes coaching, advising, and supporting staff to meet client and self-development expectations by performing the following duties:

    * Advise, coach, support, and develop staff to maintain a motivated and empowered work team
    * Supervise all assurance associate positions
    * Prepare financial statements as a non-attest service for certain clients
    * Support the partners in development of new initiatives to increase retention and meet resourcing needs
    * Assist in development and  management of assurance engagements in accordance with firm and professional standards
    * Assist in developing and monitoring of firm audit processes and procedures
    * Participate with partners and managers in business development opportunities
    * Evaluate project issues and work with engagement partner to develop and implement solutions for clients
    * Evaluate assurance engagement budget and staff efficiency
    * Identify client needs for new value-added services
    * Pursue self-development in functional specialization and industry expertise
    * Some daily travel required

    ##### Preferred, Not Required

    * CPA Certification
    * Governmental and Non-profit audit experience
    * Single Audit experience

    _We are interested in qualified candidates who are eligible to work in the USA. However, we are not able to sponsor visas._
