.span10.offset1.description
  %h4{id: 'audit-supervisor'} Audit Supervisor
  :markdown
    > CPA with extensive audit experience including for-profit, not-for-profit, and governmental clients

    *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

    ##### Qualifications

    * CPA, with 6+ years of public accounting experience
    * Ability to manage multiple engagements at one time
    * Excellent documentation and presentation skills
    * Strong team management, training and coaching skills
    * Single Audit experience

    ##### Job Description

    Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

    * Perform a wide variety of audit engagements, including audits of financial statements for a variety of industries
    * Work as a team-member with other supervisors to schedule, train and develop audit staff
    * Lead team(s) of auditors to perform planning and fieldwork of audit engagements
    * Structure work teams to develop strong client relationships and meet their expectations with excellence
    * Develop, plan, organize, and control multiple functions to increase the levels of assignment objectives, functional specialization and/or industry expertise
    * Participate in firm-wide initiatives including recruitment, business development, and retention initiatives
    * Develop global and local business initiatives, including market trends and competitor interests
    * Proficiency in Microsoft Excel, Word and Outlook
    * Some daily travel required

.span4.offset4.actions
  =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"