.span10.offset1.description
  %h4{id: 'client-services-specialist'} Client Services Specialist
  :markdown

    *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas is seeking an experienced person to work in our Accounting and Reporting Services Department. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

    ##### Qualifications

    * 3-5 years of managerial level accounting experience
    * Proficiency in QuickBooks, Microsoft Excel, Word and Outlook
    * Experience in financial statement preparation
    * Proficiency in all aspects of payroll and payroll reporting
    * Strong written and verbal communication skills
    * Commitment to developing client prospects
    * Ability to develop topical training sessions and provide training to firm staff
    * Strong organization, time management, interpersonal skills and attention to detail
    * Professional demeanor towards duties and responsibilities, particularly with regard to independence, professional ethics, and the exercise of professional judgment

    ##### Preferred, Not Required

    * CPA
    * QuickBooks Advisor Certification
    * Consulting Experience
    * Understanding of GAAP and Audit Reporting, Tax basis reporting for all types of entities
    * Bilingual in English and Spanish
    * Non-Smoker

    ##### Job Description

    * General ledger analysis of accounts
    * Prepare financial statements and reports.
    * Prepare federal and state payroll tax returns and sales tax returns, Forms 1099 and W-2.
    * Preparation of various written correspondence/guidance/rulings and other documents for submission to IRS or any other federal or state agency
    * Manage multiple clients, budgets and production goals
    * Develop new client relationships, maintain personal networks, and participation in civic, business, and professional organizations
    * Train, develop and evaluate other staff’s work
    * Use research services to increase technical knowledge and provide valuable services to clients

.span4.offset4.actions
  =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"






