.well.muted
  %p
    %span While we have no positions available at this time, we are opportunistic in our search for outstanding candidates. If you feel that you are a strong candidate, please submit your resume to
    = mail_to('newhire@pw-tx.com', 'newhire@pw-tx.com') + '.'