%h4{id: 'senior-assurance-associate'} Senior Assurance Associate
:markdown

  *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler,  Texas, is seeking a focused and practical auditor to join our firm.  Our firm offers a variety of quality professional services included tax, accounting, auditing, consulting, and reporting services to businesses and individuals.  We offer an opportunity for leadership and career advancement with competitive compensation, a benefits package and flexible work schedule.

  ##### Qualifications

  * Bachelor’s or master’s degree in accounting or related field
  * 2-5 years of audit experience
  * Ability to manage multiple engagements at one time
  * Excellent documentation and presentation skills
  * Strong team management, training, and coaching skills
  * Single Audit experience

  ##### Job Description

  * Work on a wide variety of audit engagements under the supervision of the audit supervisor, performing the following duties:
  * Audit engagements of financial statements for a variety of industries
  * Lead team of auditors to perform planning and fieldwork for audit engagements
  * Project manage one or more client assignments simultaneously, ensuring the overall success of each project
  * Perform detailed review of team work to ensure quality, thoroughness, and completion of assigned tasks within identified timeframes
  * Advise and coach team members to maintain motivated and empowered work team
  * Builds strong working relationships with client and identifies client needs, implements solutions, and provides opportunity for the cross-selling of projects and/or services
  * Proficiency in Microsoft Excel, Word,  and Outlook
  * Some daily travel required

  ##### Preferred, Not Required

  * CPA certification or eligible to sit for the CPA exam

  *We are interested in qualified candidates who are eligible to work in the USA. However, we are not able to sponsor visas.*
