.span10.description
  %h4{id: 'senior-associate-tax'} Tax Senior Associate

  :markdown

    ##### Qualifications

    * Bachelor's or master's degree in accounting or related field
    * 2-3 years of tax preparation, research,  and planning experience
    * Ability to manage multiple client assignments and projects
    * Excellent documentation and presentation skills
    * Strong team management, training, and coaching skills
    * Effective communication skills

    ##### Job Description

    * Preparation of individual, partnership, corporation, and trust tax returns in accordance with firm and professional standards
    * Understanding of the firm's tax processes and procedures to effectively advise and coach team members
    * Build and maintain strong working relationship with clients and all levels of firm staff
    * Ability to provide instructions accurately and efficiently, proactive in asking clarifying questions to ensure work effort is directed wholly toward desired outcome
    * Apply analytical, critical thinking, and problem-solving skills to execute assigned tasks
    * Train, lead, and develop associate level staff
    * Performs heavy research on complex issues


    ##### Preferred, Not Required

    * CPA certification or eligible to sit for the CPA exam

    _We are interested in qualified candidates who are eligible to work in the USA. However, we are not able to sponsor visas._
