.span10.offset1.description
  %h4{id: 'senior-associate-tax'} Senior Tax Associate

  :markdown

    *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

    ##### Qualifications

    * Active CPA designation with three to five years of public accounting experience, preferably specializing in federal and state income tax preparation
    * Strong accounting and analytical skills
    * Excellent oral and written communication skills
    * Capable of building new and existing client relationships
    * Strong team management, training and coaching skills
    * Proficiency in tax software, Microsoft Excel, Word and Outlook
    * Strong organization, time management and interpersonal skills required
    * QuickBooks Consulting experience a plus
    * Professional demeanor towards duties and responsibilities, particularly with regard to independence, professional ethics and the exercise of professional judgement required

    ##### Preferred, Not Required

    * Bilingual in English and Spanish
    * Non-Smoker

    ##### Job Description

    * Preparation and review of federal and multi-state income taxes for individuals, businesses, benefit plans, real estate, and exempt organizations
    * Prepare tax projections and other tax planning strategies
    * Research complex tax issues using internet research services
    * Preparation of various written correspondence/guidance/rulings and other documents for submission to IRS or any other federal or state agency
    * Manage multiple clients, budgets and production goals
    * Develop new client relationships, maintain personal networks, and participation in civic, business, and professional organizations
    * Train, develop and evaluate other staff’s work
    * Use research services to increase technical knowledge and provide valuable services to clients

.span4.offset4.actions
  =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"