.span10.offset1.description
  %h4{id: 'senior-associate-audit'} Senior Audit Associate
  :markdown

    *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

    ##### Qualifications

    * CPA with 2-5 years of experience
    * Ability to manage multiple engagements at one time
    * Excellent documentation and presentation skills
    * Strong team management, training and coaching skills
    * Single Audit experience

    ##### Job Description

    Work on a wide variety of audit engagements under the supervision of the audit supervisor, performing the following duties:

    * Audit engagements of financial statements for a variety of industries
    * Lead team of auditors to perform planning and fieldwork for audit engagements
    * Project manage one or more client assignments simultaneously, ensuring the overall success of each project
    * Perform detailed review of team work to ensure quality, thoroughness and completion of assigned tasks within identified timeframes
    * Advise and coach team members to maintain motivated and empowered work team
    * Builds strong working relationships with client and identifies client needs, implements solutions, and provides opportunity for the cross-selling of products and/or services
    * Proficiency in Microsoft Excel, Word and Outlook
    * Some daily travel required

    ##### Preferred, Not Required

    * Bilingual in English and Spanish
    * Non-Smoker


.span4.offset4.actions
  =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"
