.span10.offset1.description
  %h4{id: 'tax-processor'} Tax Processor & Office Coordinator
  :markdown

    *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a Tax Processor/Office Coordinator to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, internal auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

    ##### Qualifications

    * Degree qualification or the equivalent thereof preferred
    * Developing technical skills
    * Strong interpersonal and relationship building skills
    * Strong attention to details and ability to meet deadlines
    * Strong accounting, statistical, analysis and financial skills
    * Team player with a positive “can do” attitude and approach

    ##### Job Description

    The Tax Processor & Office Coordinator will manage and maintain client deliverables and internal tax processes, coordinate office functionality, purchasing, facilities management, and client deliverables:

    * Prepare and distribute tax organizers for clients and partners
    * Assemble tax returns and extensions
    * Ensure all tax returns and e-file forms are accurately assembled and scanned into applicable systems
    * Provide status updates to partners as required
    * Oversee day-to-day operations of building and office equipment
    * Negotiate the purchase of office supplies, furniture, office equipment in accordance with purchasing policies and budgetary restrictions
    * Handles Accounts Receivable and Accounts Payable
    * Work as an effective team member
    * Build strong relationship skills with staff, partners and clients

    ##### Preferred, Not Required

    * Bilingual in English and Spanish
    * Non-Smoker

.span4.offset4.actions
  =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"






