%p
  Today’s tax laws are so complicated that filing a relatively simple return can be confusing.
  Even if you use a computer software program, there is no substitute for the assistance of an experienced tax professional.
%p
  Planning is a key component and essential to successfully and legally reducing your tax liability.
  We go beyond tax compliance and proactively recommend tax savings strategies to minimize your tax and maximize your benefits.
%p
  We make it a priority to enhance our mastery of the current tax law, complex tax code, and new tax regulations by attending frequent tax seminars.
  This allows us to provide more effective tax planning to our clients.
  We also maintain and subscribe to sophisticated tax research and preparation software, which allows us to comprehensively prepare returns for a variety of entities including but not limited to the following:
  %ul
    %li Individual
    %li Partnership
    %li Limited Liability Company (LLC)
    %li Corporation
    %li Franchise
    %li Trust and Estate
    %li Gift Tax
    %li Not-for-Profit Organization
  %p
    If you own a small business and have not been able to effectively maintain your books, we have qualified staff who can help you!  We will prepare your
    = link_to('bookkeeping', 'bookkeeping')
    for the year and the respective tax return. After completion of your return, we will be glad to help you set up a system that allows you to keep your books in good shape going forward.
  %p
    Receiving a notice from the Internal Revenue Service can be daunting and confusing.
    Our experienced staff can help you wade through the process of comprehensively identifying and correcting problems through a series of resolution processes.

  %p
    %strong For more information, contact:
    %ul
      %li= bio_link("Kristi Moore") + ', Tax Partner'
      %li= bio_link("Kristi Moore") + ', Managing Partner'

