.avatar
  = link_to employee do
    .image
      = image_tag(employee.image_url)
      .name{class: ('subtitle' if employee.subtitle.present?)}
        .title= employee.image_title
        - if employee.subtitle.present?
          .subtitle= employee.subtitle