.row-fluid
  .offset1
    %h2 Staff
  .row-fluid
    .span10.offset1
      .row-fluid
        %ul.employees
          - @employees.each_slice(4) do |employees|
            .row-fluid
              - employees.each do |e|
                %li.span3.clearfix.text-center
                  = render 'avatar', employee: e
