%ul
  %li
    %strong Bookkeeping

    %p
      As a small business owner, we can take care of your bookkeeping so you can focus on running and growing your business and generating profits! We have qualified and experienced staff that can assist you with an array of bookkeeping services across many industries. Our services include but are not limited to the following:

      %ul
        %li Full service bookkeeping
        %li Account reconciliations
        %li Accounts payable and accounts receivable
        %li General ledger accounting

    %p
      These services form the solid foundation of your business accounting system.  You can customize the package of services you receive by adding these or any of our other services:

      %ul
        %li Payroll
        %li Tax planning
        %li Tax preparation

  %li
    %strong Special Projects and Reporting

    %p
      Special projects, such as system software data conversions, building customized reports, and managing accounting processes, are our specialties.
      Whether you have a onetime project or a recurring project, our team of professional staff have a variety of skill sets to meet your needs.

  %li
    %strong Preparation of Financial Statements and Compilations

    %p
      We work closely with our clients to customize financial statement reports based on their needs.
      We believe a key component to helping you manage and build a successful business is to have the right financial reports.

    %p
      In addition to compilation services, our services include the preparation of financial statements, whether GAAP or any other basis of accounting.
      We diligently seek to keep current with all legislation requirements and accounting regulations impacting the preparation of financial statements and compilation reports to ensure full compliance.

  %li
    %strong Consolidations

    %p
      Many businesses today have complex interwoven legal structures, which have special reporting considerations.
      Consolidations are no exception. Our experienced staff can prepare or help guide you through the challenges of producing consolidated financial statements.

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Kristi Moore") + ', Tax Partner'
    %li= bio_link("Kristen Ragon") + ', Client Services Director'