%p
  We have qualified experienced staff who can help you optimize your payroll processing needs.
  Our staff provides flexible, electronic payroll solutions to businesses of all sizes.
  If you need to outsource your payroll processing and related payroll tax reporting, or if you just need help with payroll compliance, our staff can help you manage the complexities of payroll more efficiently and effectively.
  Our services include but are not limited to the following:

  %ul
    %li Preparation and processing of payroll and related payroll tax deposits
    %li Payroll tax reporting for both federal and state
    %li Texas New Hire Reporting
    %li Preparation of Forms W3 and W2
    %li Preparation of Forms 1096 and 1099
    %li Liaison services related to Texas Workforce Commission audits
    %li Preparation of annual Workman’s Compensation audits

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Kristi Moore") + ', Tax Partner'
    %li= bio_link("Kristen Ragon") + ', Client Services Director'