%p
  As Certified QuickBooks Professional Advisors, we provide one-on-one training in our offices, or if you prefer, at your location.
  We can assist your business with the implementation of QuickBooks business functions to include:

  %ul
    %li QuickBooks Setup
    %li QuickBooks Cleanup
    %li QuickBooks Training and Consulting
    %li Product upgrades and system conversions

Our qualified and experienced staff is able to troubleshoot any problems or questions you may have using QuickBooks.

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Kristi Moore") + ', Tax Partner'
    %li= bio_link("Kristen Ragon") + ', Client Services Director'
