%h3.community-title  Literacy Council of Tyler 27th Annual Corporate Spelling Bee
.row-fluid
  .span5
    %p.text-center
      - event = Event.find_by_slug('2018-literacy-council-spelling-bee')
      = link_to event_path(event), title: 'See more photos from the Spelling Bee' do
        - image_tag 'bee/8.jpg', class: 'img-polaroid'
  .span7
    %p
      On August 7, Literacy Council of Tyler (LCOT) hosted their 27th Annual Corporate Spelling Bee. Eleven teams from local businesses competed in a fun-filled energetic spelling competition. This year’s theme was Big Bee Small Screen: Your favorite television shows.
    %p
      The spelling bee is the signature event for LCOT and kicks off their annual fund campaign. We believe community support for literacy programs is more important than ever. Our community is in great need of adult education programs. According to the Program for the International Assessment of Adult Competencies (PIAAC), 61% of adults in East Texas read at or below an eighth-grade level.
    %p
      In 2017, LCOT enrolled 2,191 adult students. The core programs of LCOT are GED preparation, college preparation, English as a second language, and basic adult literacy.
    %p
      It is also important for the economic future of our community. A recent study found for the first time, workers with a bachelor’s degree or higher are a larger proportion of the workforce (36 percent) than those with a high school diploma or less (34 percent). Even more, 11.5 out of the 11.6 million jobs created in the United States since January 2010 went to workers with some college education.
    %p
      PW is proud to participate in the Corporate Spelling Bee but more importantly support the service Literacy Council of Tyler provides to adult learners in our community.
    %p
      Learn more about the mission and services of the
      = link_to('Literacy Council', 'http://lcotyler.org', target: '_blank') + "!"

