%h3.community-title  Literacy Council of Tyler 28th Annual Corporate Spelling Bee
.row-fluid
  .span5
    %p.text-center
      - event = Event.find_by_slug('spelling-bee')
      = link_to event_path(event), title: 'See more photos from the Spelling Bee' do
        - image_tag 'involvement/bee/8.jpg', class: 'img-polaroid'
  .span7
    %p
      Prothro Wilhelmi & Company was delighted to participate once again in the 30th Annual Corporate Spelling Bee, benefiting the adult education programs offered by the Literacy Council of Tyler.
    %p
      Ten teams from local businesses competed in our fun-filled, energetic spelling competition. This year’s theme was Movies, and we were so excited to see everyone’s costumes!
    %p
      As much as we enjoy the fun and excitement of this wild event, we are even more motivated to dress up in crazy costumes and spell difficult words in front of nearly 500 of our peers and colleagues, because doing so helps Literacy Council of Tyler provide education to nearly 2,000 adults each year.
    %p
      By being a part of LCOT’s signature fundraising event, we know that adults will earn GEDs, learn to speak and write English, and most importantly, lead their families into a brighter future.
    %p
      PW is proud to participate in the Corporate Spelling Bee but more importantly support the service
      = link_to('Literacy Council', 'http://lcotyler.org', target: '_blank')
      provides to adult learners in our community.