:markdown
  Fraud is characterized by concealment and deception. Consequently, most fraud goes undetected but results in higher costs of goods/services and losses of revenues. The <a href='https://www.acfe.com/report-to-the-nations/2018/' target='_blank'>2018 Report to the Nation on Occupational Fraud and Abuse</a> identified that the typical U.S. organization loses 5% of its annual revenues to fraudulent activities. Fraud does not discriminate based on the size of the organization. Small businesses and multi-national conglomerates are all victimized.

  We provide examinations and investigations of fraudulent transactions for the following industries and clients:

  * Financial institutions
  * Hospitals
  * Specialty Medical Clinics
  * Governmental entities
  * Small businesses

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Walter Wilhelmi") + ', Risk Advisory & Audit Partner'