:markdown

  Our services related to fraud prevention and detection include the following:

  * Business and employee fraud investigations
  * Quantification of economic loss from negligence, breach of contract or other financial dispute valuations.
  * Marital dispute tracing and evaluation of assets
  * Litigation support
  * Evaluation of internal control practices and procedures, and methods to minimize fraud risks and improve fraud detection.

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Walter Wilhelmi") + ', Risk Advisory & Audit Partner'