%p
  = link_to community_path, title: 'We love our community!' do
    - image_tag 'involvement/bee/cover.jpg'
%p.text-center
  Check out our
  = link_to('Community Spotlight page', community_path)
  to learn more about our involvement with the 2023 Literacy Council of Tyler Spelling Bee
