%p
  = link_to community_path, title: 'We love our community!' do
    - image_tag 'car_show/home.png'
%p.text-center
  Check out our
  = link_to('Community Spotlight page', community_path)
  to learn more about our involvement with the 2019 East Texas Auto and Cycle Show!