%p
  = link_to album_path(album = Album.find_by_slug('involvement-around-town')), title: 'See more photos of PW involvement around town' do
    - image_tag 'involvement/cover.jpg'
%p.text-center
  Visit
  = link_to('our Facebook page', 'https://www.facebook.com/ProthroWilhelmi', target: '_blank')
  to stay current with PW news and community involvement!
