%h4.text-center Career Opportunities
%p
  PW is always looking for talented and experienced professionals to join our team.
%p
  Please see our
  = link_to('careers page', careers_path)
  for information about the available position(s).