%h4.text-center We are hiring!
%p
  PW is excited to announce career position openings. See the
  = link_to('careers page', careers_path)
  for more information about the following positions:
%ul
  %li= link_to('Associate', careers_path(anchor: 'associate'))
  %li= link_to('Client Services Specialist', careers_path(anchor: 'client-services-specialist'))
  %li= link_to('Senior Associate - Tax', careers_path(anchor: 'senior-associate-tax'))