%h4.text-center Lobby Temporarily Closed
%p
  In order to protect the safety of our clients, visitors and staff, our office lobby is currently closed.
%p
  We are still available to serve all your tax, accounting, audit, and advisory needs!
%p
  Our staff of professionals that you know and trust are available by phone and virtual meetings using Zoom and other online tools.

  %ul
    %li Call us at #{phone_number_link("903.534.8811")}
    %li Email us at #{mail_to 'info@pw-tx.com', 'info@pw-tx.com', subject: "Message for PW from website"}
    %li Upload digital documents through our #{link_to "secure client portal", portal_path}
    %li Deliver physical documents to our secure drop box by our office front door

%p
  We are praying for our clients, family, and friends during this time.