%h4.text-center Our Staff is Available
%p
  We are closely monitoring daily updates available from federal, state, and local agencies in response to the pandemic.
%p
  Our lobby is open and we are here to help guide you through the complicated details of these new rules to benefit you and your business. As always, we are available to serve your tax, accounting, audit and risk advisory needs.
%p
  Our staff of professionals that you know and trust are available by phone, email, and virtual meetings using Zoom and other online tools.

  %ul
    %li
      %strong Please call us at #{phone_number_link("903.534.8811")}
    %li Email us at #{mail_to 'info@pw-tx.com', 'info@pw-tx.com', subject: "Message for PW from website"}
    %li Upload digital documents through our #{link_to "secure client portal", portal_path}
    %li Deliver documents to our secure drop box at our office front door