%h4.text-center Tax Filing and Payment Schedule
.text-center{style: "margin-top:35px"}
  %strong January 18, 2022
  %div 4th Quarter 2021 Estimated Tax Payments Due
  %div{style: "margin-bottom:10px"}

  %strong January 31, 2022
  %div Forms W2, 1099, and Payroll Tax Reports (i.e. Forms 941, 940 & TWC Reports)
  %div{style: "margin-bottom:10px"}

  %strong March 15, 2022
  %div S Corporation (Forms 1102S) Tax Returns
  %div Partnership (Forms 1065) Tax Returns
  %div Deadline to file extensions for S Corporation and Partnership Tax Returns
  %div{style: "margin-bottom:10px"}

  %strong April 18, 2022
  %div Individual (Forms 1040) Tax Returns
  %div Corporation (Forms 1120) Tax Returns
  %div Trust (Forms 1041) Tax Returns
  %div Deadline to file extensions for Individual, Corporation and Partnership Tax Returns
  %div 1st Quarter 2022 Estimated Tax Payments Due
  %div IRA Contribution Payments for 2021 Due
  %div HSA Contribution Payments for 2021 Due
  %div{style: "margin-bottom:10px"}

  %small.text-center{style: "font-style: italic"}
    The above is not an all-inclusive list. Additional tax returns and documents may be required.
%p{style: "margin-top:15px"}
  Please call our office at #{phone_number_link("903.534.8811")} or email us at #{mail_to 'info@pw-tx.com', 'info@pw-tx.com', subject: "Message for PW from website"} if you have any questions.