-# %h4.text-center New IRS Mileage Rate
-# .text-center{style: "margin-top:15px"}
-#   %div Effective for periods July 1, 2022 through December 31, 2022
-#   %div standard mileage rate for business travel will be 62.5 cents per mile
-#   %div rate for deductible medical will be 22 cents per mile
-#   %div
-#     =link_to "https://www.irs.gov/newsroom/irs-increases-mileage-rate-for-remainder-of-2022", "Read the IRS publication"

%h4.text-center Upcoming Tax Filing and Payment Schedule
.text-center
  %strong
    %div{style: "margin-bottom:5px"} September 15, 2023
  %div C Corporations Estimated Tax Payment
  %div Individual Estimated Tax Payment
  %div S Corporation (Form 1120S) Extended Tax Return
  %div Partnership (Form 1065) Extended Tax Return

  %div{style: "margin-bottom:15px"}

  %strong
    %div{style: "margin-bottom:5px"} October 2, 2023
  %div Trust & Estate (Form 1041) Extended Tax Returns

  %div{style: "margin-bottom:15px"}

  %strong
    %div{style: "margin-bottom:5px"}October 16, 2023
  %div Individual (Form 1040) Extended Tax Returns
  %div C Corporation (Form 1120) Extended Tax Returns

  %div{style: "margin-bottom:15px"}

  %strong
    %div{style: "margin-bottom:5px"} November 15, 2023
  %div Tax-Exempt Orgs (Form 990) Extended Filing

  %div{style: "margin-bottom:15px"}

  %strong
    %div{style: "margin-bottom:5px"} December 15, 2023
  %div C Corporations Estimated Tax Payment

  %small.text-center{style: "display: block; margin-top:15px; font-style: italic"}
    The above is not an all-inclusive list. Additional tax returns and documents may be required.

%h4.text-center{style: "margin-top:25px"} IRS Direct Pay with Bank Account
.text-center
  %div
    Use the
    =link_to "IRS Direct Pay Site", "https://www.irs.gov/payments/direct-pay"
    to securely pay your taxes for Form 1040 series, estimated taxes or other associated forms directly from your checking or savings account at no cost to you.

%h4.text-center{style: "margin-top:25px"} IRS Online Account
.text-center
  %div
    Access your individual
    =link_to "IRS Online Account", "https://www.irs.gov/payments/your-online-account"
    to securely access your balance, payments, tax records and more.

%p{style: "margin-top:25px"}
  Please contact our office at #{phone_number_link("903.534.8811")} or email us at #{mail_to 'info@pw-tx.com', 'info@pw-tx.com', subject: "Message for PW from website"} if you have any questions.
