%p
  We continue to keep current on all tax laws and legislation to allow for more effective tax planning for our clients. We also maintain and subscribe to sophisticated tax research and preparation software, which allows us to accurately prepare returns for a variety of entities including the following:
%ul
  %li Individuals
  %li Partnerships
  %li Corporations
  %li Franchise
  %li Trusts
  %li Estates
  %li Not-for-Profits

%p
  For more information,
  = link_to 'contact Tom', "mailto:#{Employee.find_by_name('Thomas G. Prothro').try :email}."