.row-fluid#event
  .span10.offset1
    %h2= @event.name
    .row-fluid
      %ul.events{style: 'margin: 0px'}
        - @event.images.each_slice(3) do |images|
          .row-fluid
            - images.each do |image|
              %li.span4.text-center.clearfix.event.image
                = image_tag(image.asset, class: 'img-polaroid')
                - if image.caption?
                  .caption
                    %span= image.caption
