%p
  We fill a gap where businesses have needs for highly skilled financial leadership but are not at the point where they can economically justify the cost of a full-time Chief Financial Officer or Controller.
  We also provide supplemental functionality where a business has temporary demands that exceed their normal level.

%p
  Bob Roseman is specifically experienced in corporate financial services and is uniquely equipped to add value to your business.
  In the event of a special project, or for the more traditional CPA services, our firm is staffed with competent professionals with a variety of skill sets to meet those needs.

%p
  As your CFO or Controller, some of the specific functions we may perform on a routine basis are as follows:

  .row-fluid
    .span6
      :markdown
        * Analysis of financial statements
        * Cash management
        * Strategic planning
        * Due diligence
        * Business plans
        * Financial models
        * Financing
        * Budgeting
        * Forecasting
    .span6
      :markdown
        * Accounting system design & implementation
        * Analysis of receivables
        * Analysis of payables
        * Conferences with accounting manager
        * Conferences with senior management
        * Accrual Analysis
        * Review accounting policies
        * Review internal controls

%p
  Our standard engagement will include a set number of days each month.  Your business needs are unique.  As such, our services are flexible and will be customized to meet your specific needs.

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Bob Roseman") + ', Consulting Partner'