%strong Mergers and Acquisitions
%p Our team can provide useful insight into the strategy of the development of emerging products or services as well as specific services including identification of targets, pursuit, analysis, modeling, negotiations, structuring, closing and integration.

%strong Treasury and Cash Management
%p These services range from general analysis and evaluation to complete outsourcing. Our team has extensive experience in complex public company treasury operations. Entities with multiple operating entities stand to benefit most from potential efficiencies available.

%strong Negotiation
%p The successful negotiation of business transactions or settlements involving circumstances where there must be a win-win result for both parties is critical to building a long-term profitable enterprise. Our group has extensive experience in this area.

%strong Reorganizations
%p Business reorganizations can be simple or complex.  This area of consulting can prove extremely valuable for your business.  We can advise regarding a proposed reorganization or assist in the development of a plan of reorganization.  Reorganizations can be for asset protection, tax efficiency, ease of transfer in succession, or other potential reasons.  We have extensive experience in this area.

%strong Choice of Entity
%p Choice of entity is most frequently considered when a business is purchased or started.  However, choice of entity may be motivated by other business needs.  We have extensive experience in choosing the best and most beneficial entity for your organization.

%strong Estate Planning
%p We are experienced in assisting your estate planning attorney in the development or modification of your personal estate plan.  Recent tax law changes have initiated a need for review of how your personal circumstances may need to be evaluated for the benefit of your heirs and beneficiaries.

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Bob Roseman") + ', Consulting Partner'
