.row-fluid#contact
  .span10.offset1
    %h2 Careers at PW
    %p Prothro, Wilhelmi & Company is devoted not only to our clients but to our employees. We take pride in our employees and believe that successful client relationships begin with them. Our employees strive to provide the best service possible to our clients. At Prothro, Wilhelmi & Company, we believe that having strong eternal values will create infinite potential for our clients and employees alike.
    %p
      %span As we continue to grow we continue to look for qualified individuals to join our dynamic team at Prothro, Wilhelmi & Company. We offer a variety of positions and we welcome all types of interests in the field of accounting. If you are looking to pursue a career in accounting please submit your resume to
      = link_to('newhire@pw-tx.com', 'mailto:newhire@pw-tx.com') + '.'
    %p See below for open career positions. We look forward to hearing from you!

    %br

    :markdown
      <a name='CPA-Auditor'></a>
      ### Certified Public Accountant
      #### Auditor

      Prothro, Wilhelmi and Company, PLLC, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Bachelor’s degree in accounting
      * Licensed CPA
      * Two to five years experience

      ##### Job Description

      Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

      * Perform audits of financial statements for a variety of industries
      * Perform internal audit procedures for a variety of industries
      * Proficiency in Microsoft Excel, Word and Outlook
      * Ability to juggle multiple engagements at a time
      * Documentation and presentation skills
      * Ability to work with other team members
      * Some daily travel required

      ---

      <a name='CPA-Internal-Auditor'></a>
      ### Certified Public Accountant
      #### Internal Auditor

      Prothro, Wilhelmi and Company, PLLC, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Bachelor’s degree in accounting
      * Licensed CPA or CIA
      * Two to five years experience

      ##### Job Description

      Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

      * Perform internal audit procedures for financial institutions, medical clinics, and other industries
      * Conduct risk assessments and establish risk-based audit programs
      * Effectively communicate audit findings and recommendations to management
      * Audit software systems knowledge and familiarity
      * Proficiency in Microsoft Excel, Word and Outlook
      * Strong attention to details and ability to multi-task
      * Some daily travel required

      ---

      <a name='CPA-Tax'></a>
      ### Certified Public Accountant
      #### Tax

      Prothro, Wilhelmi and Company, PLLC, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Applicants must hold an active CPA designation with three to five years of public accounting experience, preferably specializing in federal and state income tax preparation
      * Strong accounting and analytical skills
      * Excellent interpersonal, oral and written communication skills
      * Capable of building new and existing client relationships
      * Proficiency in tax software, Microsoft Excel, Word and Outlook
      * Detail oriented and ability to multi-task

      ##### Job Description

      * Preparation and review of federal and state income taxes for individuals, businesses, benefit plans, real estate, and exempt organizations
      * Preparation of various written correspondence/guidance/rulings and other documents for submission to IRS or Treasury department
      * Manage multiple clients, budgets and production goals
      * Develop new client relationships
      * Train, review, and evaluate other staff’s work

      ---

      <a name='Accounting-Intern'></a>

      ### Accounting Intern
      #### (Full or part-time positions available)

      The position of Accounting Intern enables entry level staff interested in seeking a career in accounting the opportunity to learn the trade language and practices of a public accounting firm through hands on experience.  This position requires an attention to detail and willingness to learn through basic entry-level tasks.

      ##### Job Description

      * Provide assistance on audits and other engagements from planning through reporting
      * Utilize and integrate technology through our audit approach
      * Provide assistance with preparation and review of federal and state income tax returns for individuals, businesses, benefit plans, real estate, and exempt organizations
      * Attend meetings as requested by Partner and/or by Supervisor
      * Perform projects as assigned by supervisor

      Information processed as a part of this position is highly confidential. Therefore, all interns will be required to read, sign and strictly abide by the company’s Confidentiality Agreement and other required firm policies as requested.

      ---

      <a name='Staff-Accountant'></a>

      ### Entry Level Staff Accountant

      The position of Entry Level Staff Accountant enables entry level staff, interested in seeking a career in accounting, the opportunity to learn and apply their technical skills and work as part of a team to carry out tasks under close coaching and supervision. This position requires a willingness to learn the trade language and practices of a public accounting firm through hands on experience.

      ##### Qualifications

      * Bachelor’s degree in accounting; Master of Accountancy preferred
      * Solid understanding of accounting, audit, and basic tax issues
      * Strong technical skills with proficiency in Microsoft Office and Adobe computer programs; QuickBooks or other accounting software experience is a plus
      * Strong interpersonal and relationship building skills

      ##### Job Description

      * Prepare income tax returns and related tax workpapers
      * Assist in preparation, coordination, and completion of audits and other engagements from planning through reporting
      * Develop and integrate technical skills utilizing firm technology
      * Attend meetings and communicate with managers and partners on a timely basis
      * Develop strong relationships with staff and clients
      * Effectively complete project components and assignment tasks as assigned
      * Actively pursue self-development opportunities

