.row-fluid#contact
  .span10.offset1
    %h2 Careers at PW
    %p At Prothro, Wilhelmi and Company, we believe that having strong ethical and eternal values will create infinite potential for our clients and our staff.
    %p As our firm continues to grow, we look for qualified individuals to join our dynamic team. Prothro, Wilhelmi and Company is devoted not only to its clients but also to its employees. We take great pride in our staff and believe that successful client relationships begin with them. We are dedicated to our employees and support their personal and professional development. Our employees strive to provide the highest levels of service possible to our clients, while maintaining a positive work-life balance.
    %p
      %span Prothro, Wilhelmi and Company offers a variety of positions and welcomes all types of interests in the field of accounting. We offer a competitive salary, excellent benefits package, incentives to enhance professional development, and an exceptional work environment.
    %p
      If you are looking to pursue a career in accounting please submit your resume to
      = link_to('newhire@pw-tx.com', 'mailto:newhire@pw-tx.com') + '.'
      We look forward to hearing from you!
    %br
    %h3 Positions Available

    :markdown
      <a name='Senior-Associate'></a>
      #### Senior Associate

      *Prothro, Wilhelmi and Company, PLLC*, a public accounting firm in Tyler, Texas, is seeking a focused individual, who holds a Master’s degree in accounting and holding CPA or in pursuit of CPA designation, to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Master’s degree in Accounting and holding CPA or in active pursuit of CPA designation
      * Three to five years’ previous experience in public accounting with a focus in auditing
      * Strong technical knowledge
      * Project management skills
      * Subject matter expertise and leadership
      * Ability to co-ordinate and coach a team
      * Excellent interpersonal, oral, and written communication skills
      * Capable of building new and existing client relationships
      * Proficient in Microsoft Excel, Word and Outlook


      ##### Job Description

      * Project manage one or more client assignment(s) simultaneously, ensuring overall success of each project
      * Establish work schedule through effective use of project management techniques
      * In consultation with the assignment manager/partner, organize and control multiple responsibilities and resources to achieve assignment objectives
      * Advise, coach, and motivate a team through encouragement and empowerment while demonstrating high levels of energy and enthusiasm
      * Perform detailed review of team’s work to ensure quality, thoroughness, and timely completion of assignments
      * Identify opportunities to improve assignment profitability and identify risk management issues
      * Work as an effective team member to complete project components and assignment tasks