.row-fluid#contact
  .span10.offset1
    %h2 Careers at PW
    %p Prothro, Wilhelmi & Company is devoted not only to our clients but to our employees. We take pride in our employees and believe that successful client relationships begin with them. Our employees strive to provide the best service possible to our clients. At Prothro, Wilhelmi & Company, we believe that having strong eternal values will create infinite potential for our clients and employees alike.
    %p
      %span As we continue to grow we continue to look for qualified individuals to join our dynamic team at Prothro, Wilhelmi & Company. We offer a variety of positions and we welcome all types of interests in the field of accounting. If you are looking to pursue a career in accounting please submit your resume to
      = link_to('newhire@pw-tx.com', 'mailto:newhire@pw-tx.com') + '.'
    %p See below for open career positions. We look forward to hearing from you!

    %br

    :markdown
      <a name='CPA-Auditor'></a>
      ### Certified Public Accountant
      #### Auditor

      Prothro, Wilhelmi and Company, PLLC, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Bachelor’s degree in accounting
      * Licensed CPA
      * Two to five years experience

      ##### Job Description

      Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

      * Perform audits of financial statements for a variety of industries
      * Perform internal audit procedures for a variety of industries
      * Proficiency in Microsoft Excel, Word and Outlook
      * Ability to juggle multiple engagements at a time
      * Documentation and presentation skills
      * Ability to work with other team members
      * Some daily travel required

      ---

      <a name='CPA-Internal-Auditor'></a>
      ### Certified Public Accountant
      #### Internal Auditor

      Prothro, Wilhelmi and Company, PLLC, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Bachelor’s degree in accounting
      * Licensed CPA or CIA
      * Two to five years experience

      ##### Job Description

      Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

      * Perform internal audit procedures for financial institutions, medical clinics, and other industries
      * Conduct risk assessments and establish risk-based audit programs
      * Effectively communicate audit findings and recommendations to management
      * Audit software systems knowledge and familiarity
      * Proficiency in Microsoft Excel, Word and Outlook
      * Strong attention to details and ability to multi-task
      * Some daily travel required

      ---

      <a name='CPA-Tax'></a>
      ### Certified Public Accountant
      #### Tax

      Prothro, Wilhelmi and Company, PLLC, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

      ##### Qualifications

      * Applicants must hold an active CPA designation with three to five years of public accounting experience, preferably specializing in federal and state income tax preparation
      * Strong accounting and analytical skills
      * Excellent interpersonal, oral and written communication skills
      * Capable of building new and existing client relationships
      * Proficiency in tax software, Microsoft Excel, Word and Outlook
      * Detail oriented and ability to multi-task

      ##### Job Description

      * Preparation and review of federal and state income taxes for individuals, businesses, benefit plans, real estate, and exempt organizations
      * Preparation of various written correspondence/guidance/rulings and other documents for submission to IRS or Treasury department
      * Manage multiple clients, budgets and production goals
      * Develop new client relationships
      * Train, review, and evaluate other staff’s work
