#careers
  .row-fluid
    .span10.offset1
      %h2 Careers at PW
      %p At Prothro, Wilhelmi and Company, we believe that having strong ethical and eternal values will create infinite potential for our clients and our staff.
      %p As our firm continues to grow, we look for qualified individuals to join our dynamic team. Prothro, Wilhelmi and Company is devoted not only to its clients but also to its employees. We take great pride in our staff and believe that successful client relationships begin with them. We are dedicated to our employees and support their personal and professional development. Our employees strive to provide the highest levels of service possible to our clients, while maintaining a positive work-life balance.
      %p
        %span Prothro, Wilhelmi and Company offers a variety of positions and welcomes all types of interests in the field of accounting. We offer a competitive salary, excellent benefits package, incentives to enhance professional development, and an exceptional work environment.
      %p
        If you are looking to pursue a career in accounting please submit your resume to
        = link_to('newhire@pw-tx.com', 'mailto:newhire@pw-tx.com') + '.'
        We look forward to hearing from you!
      %br
      %h3 Positions Available

      %a{name: 'Senior-Associate-Audit'}

  .row
    .span10.offset1.description
      %h4 Senior Associate - Audit

      :markdown
        *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

        ##### Qualifications

        * Bachelor’s degree in accounting
        * Licensed CPA
        * Two to five years of experience


        ##### Job Description

        Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

        * Perform audits of financial statements for a variety of industries
        * Lead team of auditors to perform planning and fieldwork of audit engagements
        * Perform internal audit procedures for a variety of industries
        * Proficiency in Microsoft Excel, Word and Outlook
        * Ability to manage multiple engagements at a time
        * Documentation and presentation skills
        * Ability to work with other team members
        * Some daily travel required

    .span4.offset4.actions
      =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"

    .span10.offset1.description

      :markdown
        <a name='Associate'></a>
        #### Associate

        *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking an Associate to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

        ##### Qualifications

        * Bachelor’s degree in accounting
        * Developing technical skills
        * Strong interpersonal, oral, and written communication skills
        * Team player with a positive – "can do" attitude
        * Strong documentation and presentation skills


        ##### Job Description

        Learning and applying technical skills and working as part of a team carrying out tasks under close coaching and supervision:

        * Develop technical skills both on the job and through formal learning channels
        * Work as an effective team member
        * Build working relationships at peer client level
        * Seek to gain knowledge of client businesses
        * Effectively document work
        * Proficiency in Microsoft Excel, Word and Outlook
        * Some daily travel required
    .span4.offset4.actions
      =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"
