#careers
  .row-fluid
    .span10.offset1
      %h2 Careers at PW
      %p At Prothro, Wilhelmi and Company, we believe that having strong ethical and eternal values will create infinite potential for our clients and our staff.
      %p As our firm continues to grow, we look for qualified individuals to join our dynamic team. Prothro, Wilhelmi and Company is devoted not only to its clients but also to its employees. We take great pride in our staff and believe that successful client relationships begin with them. We are dedicated to our employees and support their personal and professional development. Our employees strive to provide the highest levels of service possible to our clients, while maintaining a positive work-life balance.
      %p
        %span Prothro, Wilhelmi and Company offers a variety of positions and welcomes all types of interests in the field of accounting. We offer a competitive salary, excellent benefits package, incentives to enhance professional development, and an exceptional work environment.
      %p
        If you are looking to pursue a career in accounting please submit your resume to
        = link_to('newhire@pw-tx.com', 'mailto:newhire@pw-tx.com') + '.'
        We look forward to hearing from you!
      %br
      %h3 Positions Available

  .row
    %a{name: 'senior-associate-tax'}
    .span10.offset1.description
      :markdown
        #### Senior Associate - Tax

        > CPA with public accounting experience, specializing in federal and state income tax preparation

        *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

        ##### Qualifications

        * Active CPA designation with three to five years of public accounting experience, preferably specializing in federal and state income tax preparation
        * Strong accounting and analytical
        * Excellent oral and written communication skills
        * Capable of building new and existing client relationships
        * Strong team management, training and coaching skills
        * Proficiency in tax software, Microsoft Excel, Word and Outlook
        * Strong organization, time management and interpersonal skills required
        * QuickBooks Consulting experience a plus
        * Professional demeanor towards duties and responsibilities, particularly with regard to independence, professional ethics and the exercise of professional judgement required

        ##### Job Description

        * Preparation and review of federal and multi-state income taxes for individuals, businesses, benefit plans, real estate, and exempt organizations
        * Prepare tax projections and other tax planning strategies
        * Research complex tax issues using internet research services
        * Preparation of various written correspondence/guidance/rulings and other documents for submission to IRS or any other federal or state agency
        * Manage multiple clients, budgets and production goals
        * Develop new client relationships, maintain personal networks, and participation in civic, business, and professional organizations
        * Train, develop and evaluate other staff’s work
        * Use research services to increase technical knowledge and provide valuable services to clients


    .span4.offset4.actions
      =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"

    %a{name: 'hr-assistant'}
    .span10.offset1.description
      :markdown
        #### Human Resources Assistant

        > HR Assistant with an organized, detail-oriented work ethic and interest in pursuing a career in human resources

        *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and organized individual to join our growing firm as an HR Assistant. This position will support management and staff in multiple areas of human resources and office administration. An organized, detail-oriented work ethic is a must. This is an excellent opportunity for candidates interested in pursuing a career in human resources. We offer an opportunity for growth and career advancement with competitive compensation and a benefits package in a beautiful work environment.

        ##### Qualifications

        * Bachelor’s degree in human resources, business, administrative services or related field, or extensive experience in human resources
        * Eagerness to learn and assist all employees as necessary
        * Possess superb written and spoken communication skills
        * Excellent interpersonal relationship building and employee coaching skills
        * Excellent computer skills
        * Attention to detail and accuracy
        * Organized and efficient in daily tasks
        * Knowledge of employment laws and best practices, compensation, employee relations, training, state and federal labor laws, *a plus*

        ##### Job Description

        In this position, you will manage employee records, keep and update files, prepare reports as needed, support other administrative staff, and perform other duties as assigned by the HR Manager:

        * Maintain company personnel records and documentation
        * Assist with preliminary interviews, recruitment, and job postings
        * Administrative tasks including employee documentation, recording data, maintaining and filing paperwork
        * Help organize and manage new employee orientation, on-boarding, and training
        * Assist with implementation of employee benefits, programs, and education
        * Assist with payroll needs as requested
        * Provide administrative support for Partners, HR Manager and Supervisors as needed
        * Proficiency in Microsoft Excel, Word and Outlook

    .span4.offset4.actions
      =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"

    %a{name: 'senior-associate-audit'}
    .span10.offset1.description
      :markdown
        #### Senior Associate - Audit

        > CPA with audit experience including for-profit, not-for profit, and governmental clients

        *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

        ##### Qualifications

        * CPA with 2-5 years of experience
        * Ability to manage multiple engagements at one time
        * Excellent documentation and presentation skills
        * Strong team management, training and coaching skills
        * Single Audit experience

        ##### Job Description

        Work on a wide variety of audit engagements under the supervision of the audit supervisor, performing the following duties:

        * Perform a wide variety of audit engagements, including audits of financial statements for a variety of industries
        * Lead team of auditors to perform planning and fieldwork of audit engagements
        * Project manage one or more client assignments simultaneously, ensuring overall success of each project
        * Perform detailed review of team work to ensure quality, thoroughness and completion of assignment tasks within identified time frames
        * Advise and coach team members to maintain motivated and empowered work team
        * Builds strong working relationships with client and identifies client needs, implements solutions, and provides opportunity for cross-sell of  products and/or services
        * Proficiency in Microsoft Excel, Word and Outlook
        * Some daily travel required

    .span4.offset4.actions
      =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"

    %a{name: 'audit-supervisor'}
    .span10.offset1.description
      :markdown
        #### Audit Supervisor

        > CPA with extensive audit experience including for-profit, not-for-profit, and governmental clients

        *Prothro, Wilhelmi and Company, PLLC*, a reputable public accounting firm in Tyler, Texas, is seeking a focused and practiced Certified Public Accountant to join our firm. Our firm offers a variety of quality professional services including tax, accounting, auditing, consulting, and reporting services to businesses and individuals. We offer an opportunity for leadership and career advancement with competitive compensation and a benefits package in a beautiful work environment.

        ##### Qualifications

        * CPA, with 6+ years of public accounting experience
        * Ability to manage multiple engagements at one time
        * Excellent documentation and presentation skills
        * Strong team management, training and coaching skills
        * Single Audit experience

        ##### Job Description

        Work on a wide variety of audit engagements under the supervision of the audit partner, performing the following duties:

        * Perform a wide variety of audit engagements, including audits of financial statements for a variety of industries
        * Work as a team-member with other supervisors to schedule, train and develop audit staff
        * Lead team(s) of auditors to perform planning and fieldwork of audit engagements
        * Structure work teams to develop strong client relationships and meet their expectations with excellence
        * Develop, plan, organize, and control multiple functions to increase the levels of assignment objectives, functional specialization and/or industry expertise
        * Participate in firm-wide initiatives including recruitment, business development, and retention initiatives
        * Develop global and local business initiatives, including market trends and competitor interests
        * Proficiency in Microsoft Excel, Word and Outlook
        * Some daily travel required

    .span4.offset4.actions
      =link_to "Apply Now", "https://www.optimizehire.org/apply-job?i=MTM1Ng%3D%3D", target: "_blank", class: "btn btn-block"
