#careers
  .row-fluid
    .span10.offset1
      %h2 Careers at PW
      %p At Prothro, Wilhelmi and Company, we believe that having strong ethical and eternal values will create infinite potential for our clients and our staff.
      %p As our firm continues to grow, we look for qualified individuals to join our dynamic team. Prothro, Wilhelmi and Company is devoted not only to its clients but also to its employees. We take great pride in our staff and believe that successful client relationships begin with them. We are dedicated to our employees and support their personal and professional development. Our employees strive to provide the highest levels of service possible to our clients, while maintaining a positive work-life balance.
      %p
        %span Prothro, Wilhelmi and Company offers a variety of positions and welcomes all types of interests in the field of accounting. We offer a competitive salary, excellent benefits package, incentives to enhance professional development, and an exceptional work environment.
      %p
        If you are looking to pursue a career in accounting please submit your resume to
        = link_to('newhire@pw-tx.com', 'mailto:newhire@pw-tx.com') + '.'
        We look forward to hearing from you!
      %br
      %h3 Positions Available
      = render "pages/positions/none_available"
  / .row
  /   = render "pages/positions/senior_associate_tax"