.row-fluid
  .span10.offset1
    %h2 PW Community Spotlight
    %h3.community-title East Texas Crisis Center Auto & Cycle Show
    .row-fluid
      .span5
        %p.text-center
          - event = Event.find_by_slug('east-texas-crisis-center-br-auto-cycle-show')
          = link_to event_path(event), title: 'See more photos from the Cycle Show' do
            - image_tag event.cover_asset, class: 'img-polaroid'
      .span7
        %p
          Prothro, Wilhelmi & Co. was honored to volunteer at this year’s 2018 East Texas Auto and Cycle Show held February 16th-18th benefitting the East Texas Crisis Center in Tyler, Texas.  Each year this show features a wide range of classic, antique and specialty cars, trucks and motorcycles of every decade.
        %p
          From humble beginnings in 1991 the first show and car raffle raised $20,000 and this year the show and car raffle generated approximately $228,000.  Tyler Ford has donated a raffle car for the past fifteen years and this year’s 1964 ½  Mustang Convertible, generated $133,830 from $10 raffle ticket sales.  This revenue helps support emergency shelter and crisis intervention services for victims of family violence and sexual assault.
        %p
          PW is proud to support the important work of the
          = link_to 'East Texas Crisis Center', 'http://etcc.org/', target: '_blank'
          and Volunteer at their
          = link_to('Annual Auto and Cycle Show', 'http://autoandcycleshow.com/', target: '_blank') + '!'



