.row-fluid
  .span10.offset1
    %h2 PW Community Spotlight
    %h3.community-title 2015 Literacy Council Spelling Bee
    .row-fluid
      .span5
        %p.text-center
          - event = Event.find_by_slug('2015-literacy-council-spelling-bee')
          = link_to event_path(event), title: 'See more photos from the Spelling Bee' do
            - image_tag event.cover_asset, class: 'img-polaroid'
      .span7
        %p
          Every August, Literacy Council of Tyler rounds up 15 or more corporate teams to participate in their annual spelling bee.
        %p
          With over 500 members in the audience, business owners and their employees try to spell everything from “school” to “ichneumon” ... all for bragging rights and the coveted traveling trophy.
        %p
          Some past winners include Potter Minton, Tyler Junior College, Brookshire’s, and Trane.  Teams also compete for the Spirit Stick and the Costume Award. Outlandish costumes and raucous participation makes the spelling bee the most fun special event in Tyler.
        %p
          We look forward to planning our “costume theme” every year as well as stepping up our “spirit and cheering squad”!
        %p
          All proceeds go to support the programs of Literacy Council of Tyler, an organization committed to providing free basic reading, GED, and English as a second language classes to adults.
        %p
          For the past five years, PW has been a proud participant in the Corporate Spelling Bee. In 2011 and 2012, we brought home the Spirit Stick with our high energy and enthusiasm and in 2015, we were the recipients of both the Spirit and Costume Awards!
        %p
          To learn more about the Literacy Council of Tyler or the Annual Spelling Bee, please visit their websites at
          = link_to 'lcotyler.org', 'http://lcotyler.org/', target: '_blank'
          and
          = link_to('lcotyler.org/pages/news-and-events/corporate-spelling-bee', 'http://www.lcotyler.org/pages/news-and-events/corporate-spelling-bee', target: '_blank') + '.'
