.row-fluid#about
  .span10.offset1
    %h2 Covid-19 Update

    .row-fluid
      %h3 Tax Day now July 15
      %h4 Treasury, IRS extend filing deadline and federal tax payments regardless of amount owed
      %p The federal income tax filing due date is automatically extended from April 15, 2020, to July 15, 2020. Taxpayers will still be able to request an automatic extension if they need additional time to file after July 15.
      %p Taxpayers can also defer federal income tax payments due on April 15, 2020, to July 15, 2020, without penalties and interest, regardless of the amount owed. This deferment applies to all taxpayers, including individuals, trusts and estates, corporations and other non-corporate tax filers as well as those who pay self-employment tax.
      %p Taxpayers do not need to file any additional forms or call the IRS to qualify for this automatic federal tax filing and payment relief. 

    .row-fluid
      %h3 Families First Coronavirus Response Act
      %p President Trump has signed into law the Families First Coronavirus Response Act. Among other things, the new law temporarily requires certain employers to provide expanded paid sick and family leave for employees affected by the coronavirus (COVID-19) pandemic. Employers’ increased costs will be offset by new tax credits, which also may be available to self-employed individuals. 
      %p These provisions include multiple details in how they are applicable to individual circumstances, and accordingly, should be discussed with a tax and/or legal professional in more detail.

    .row-fluid
      %h3 COVID-19 Scams
      %p Be aware that criminals are attempting to exploit COVID-19 worldwide through a variety of scams. If you receive calls, emails, or other communications claiming to be from the Treasury Department and offering COVID-19 related grants or stimulus payments in exchange for personal financial information, or an advance fee, tax, or charge of any kind, including the purchase of gift cards, please DO NOT respond.
      %p
        If you receive any of the previously mentioned scams, please contact the FBI at
        =link_to("https://www.ic3.gov", "www.ic3.gov", target: "_blank")
        so that the scammers can be tracked and stopped.
