.row-fluid#about
  .span10.offset1
    %h2.text-center COVID-19 Updates - PW CARES
    .row-fluid
      %h3 COVID Updates January 2021
      %h4 Consolidated Appropriations Act (COVID-19 relief law)
      %p
        Read about some of the latest provisions from the
        = link_to("U.S. Department of The Treasury", "https://home.treasury.gov/policy-issues/cares", target: :blank)
        regarding Coronavirus Aid, Relief, and Economic Security (CARES) Act and the Coronavirus Response and Relief Supplemental Appropriations Act of 2021.
      %p
        The new Consolidated Appropriations Act was signed into law on December 28, 2020 including the COVID-related Tax Relief Act (COVIDTRA) and the Taxpayer Certainty and Disaster Tax Relief Act (TCDTR).

      %p
        %ul
          %li
            %a{target: :blank, :href => "https://home.treasury.gov/policy-issues/cares/assistance-for-american-workers-and-families"} Assistance for American Workers and Families
            %ul
              %li
                %a{target: :blank, :href => "https://www.irs.gov/newsroom/treasury-and-irs-begin-delivering-second-round-of-economic-impact-payments-to-millions-of-americans"} Economic Impact Payments: What you need to know
      %p
        %ul
          %li
            %a{target: :blank, :href => "https://home.treasury.gov/policy-issues/cares/assistance-for-small-businesses"} Assistance for Small Businesses (Paycheck Protection Program)
            %ul
              %li
                %a{target: :blank, :href => "https://home.treasury.gov/system/files/136/Top-line-Overview-of-First-Draw-PPP.pdf"} Overview of First Draw PPP (1/8/2021)
              %li
                %a{target: :blank, :href => "https://home.treasury.gov/system/files/136/Top-line-Overview-of-Second-Draw-PPP.pdf"} Overview of Second Draw PPP (1/8/2021)
      %p
        %ul
          %li
            %a{target: :blank, :href => "https://home.treasury.gov/policy-issues/cares/preserving-jobs-for-american-industry"} Preserving Jobs for American Industry
            %ul
              %li Employee Retention Credit
              %li Payroll Tax Deferral
              %li Payroll Support
              %li Loan Program
      %p
        %ul
          %li
            %a{target: :blank, :href => "https://home.treasury.gov/policy-issues/cares/state-and-local-governments"} Assistance for State, Local, and Tribal Governments
          %li
            %a{target: :blank, :href => "https://home.treasury.gov/policy-issues/cares/emergency-rental-assistance-program"} Emergency Rental Assistance Program
          %li
            %a{target: :blank, :href => "https://home.treasury.gov/policy-issues/cares/emergency-capital-investment-program"} Emergency Capital Investment Program

      %p
        Additional Resource Pages for SBA Guidance:
        %ul
          %li
            %a{:href => "https://www.sba.gov/article/2021/jan/08/sba-treasury-announce-ppp-re-opening-issue-new-guidance"} SBA and Treasury Announce PPP Re-Opening; Issue New Guidance
          %li
            %a{:href => "https://www.sba.gov/page/coronavirus-covid-19-small-business-guidance-loan-resources"} Small Business Guidance & Loan Resources

    .row-fluid
      %h3 COVID Updates April 2020
      %h4 IRS Extends Tax Filing Deadline to July 15, 2020
      %p
        The federal income tax filing due date has been extended from April 15, 2020, to July 15, 2020. Please read
        = link_to("the most up to date information from the IRS", "https://www.irs.gov/newsroom/tax-day-now-july-15-treasury-irs-extend-filing-deadline-and-federal-tax-payments-regardless-of-amount-owed", target: "_blank") + "."

    .row-fluid
      %h4 Coronavirus Aid, Relief, and Economy Security Act (CARES Act)
      %p
        The CARES Act was signed into law to provide financial “emergency relief” to individuals and businesses caused by the Coronavirus pandemic.  This Act provides relief to:

        %ul
          %li Individuals
          %li Businesses
          %li State and local governments
          %li The health care system

        Below are some of the major provisions in the law for businesses, individuals, stimulus checks, loans, grants and more.
      %br

      .indented
        %h5 Paycheck Protection Program Loans (PPP)

        %p
          Please read

          =link_to("the latest information from the Treasury", "https://home.treasury.gov/policy-issues/top-priorities/cares-act/assistance-for-small-businesses", target: "_blank") + '.'

        %p We recommend using local community banks for these loans.


        %h5 Economic Injury Disaster Loans

        %p
          Please read

          =link_to("the latest information from the Chamber of Commerce", "https://www.uschamber.com/report/guide-sbas-economic-injury-disaster-loans", target: "_blank") + '.'

        %p  We recommend using local community banks for these loans.

        %h5 Individual Stimulus Checks (Economic Impact Payments)

        %p
          Please read

          =link_to("the latest information from the IRS", "https://www.irs.gov/newsroom/economic-impact-payments-what-you-need-to-know", target: "_blank") + "."

        %h5 Individual & Business Tax Provisions (Employee Retention Payroll Tax Credit; Deferral of Employer Payroll Taxes)

        %p

          Please view, print, or share our
          =link_to "PW CARES FAQ", asset_path("PW_Cares_FAQ.pdf"), target: "_blank"

    .row-fluid
      %br
      %h4 Families First Coronavirus Response Act (FFCRA)

      %p
        The FFCRA requires certain employers to provide their employees with paid sick leave or expanded family and medical leave for specified reasons related to COVID-19. The Department of Labor’s (Department) Wage and Hour Division (WHD) administers and enforces the new law’s paid leave requirements. These provisions will apply from the effective date through December 31, 2020.
      %p
        Please read
        = link_to "the latest information from the Department of Labor", "https://www.dol.gov/agencies/whd/pandemic/ffcra-employee-paid-leave", target: "_blank"
        as well as our
        =link_to "PW FFCRA FAQ", asset_path("PW_FFCRA_FAQ.pdf"), target: "_blank"

    .row-fluid
      %br
      %h4 COVID-19 Scams

      %p
        The IRS has issued warnings about Coronavirus-related scams. Please read

        = link_to("the latest information from the IRS", "https://www.irs.gov/newsroom/irs-issues-warning-about-coronavirus-related-scams-watch-out-for-schemes-tied-to-economic-impact-payments", target: "_blank") + "."
