<body style="color: rgb(0, 0, 0); letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;">
  <div class="container" style="padding: 10px; width: 350;">
    <a href="http://www.pw-tx.com" title="Visit PW online" style="text-decoration: none;">
      <img style="width: 100%; text-decoration: none;" alt="Prothro Wilhelmi, Certified Public Accountants" src="http://pw-tx.com/assets/pw_logo_white_bg_351x80%402x.png">
    </a>
  </div>
</body>