.row-fluid#news
  .span10.offset1
    %h2 News at PW
    .row-fluid
      .span10.offset1
        = render 'facebook_timeline'
        %h3 Recent Highlights
        .row-fluid
          .span10.offset1
            %ul
              %li.news
                %span= link_to 'Cristy McDowell', Employee.find_by_name('Cristy McDowell')
                %span was selected to serve on the board of directors for the Canton Chamber of Commerce.
              %li.news
                %span= link_to 'Bob Roseman', Employee.find_by_name('Bob Roseman')
                %span has been selected to serve on the Board of Directors for the Better Business Bureau.


        %h3 Advertising
        .row-fluid
          .span10.offset1
            .row-fluid
              .span8.offset2.text-center
                .video-container
                  %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'http://www.youtube.com/embed/TTWmBAZWj9g?&modestbranding=0&controls=1&rel=0&showinfo=0'}
                %p.text-center{style: "margin-top: 5px"} CBS Commercial
            .row-fluid
              .span8.offset2.text-center
                .video-container
                  %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'http://www.youtube.com/embed/K-OcTc7rH8c?&modestbranding=0&controls=1&rel=0&showinfo=0'}
                %p.text-center{style: "margin-top: 5px"} CBS Commercial