.row-fluid
  .span10.offset1
    %h2 News at PW

= render 'facebook_timeline'

.row-fluid
  .span10.offset1
    .row-fluid
      .span10.offset1
        %h3 Recent Highlights
        .row-fluid
          .span10.offset1
            %ul
              %li.news
                %span= link_to 'Shelby Cannon', Employee.find_by_name('Shelby Cannon')
                %span has received her CPA certification and has been promoted to Tax Senior Associate.
              %li.news
                %span PW wins 7th spirit award at Literacy Council of Tyler Spelling Bee.
              %li.news
                %span= link_to 'Erin McNeill', Employee.find_by_name('Erin McNeill')
                %span has been promoted to Tax Supervisor.
              %li.news
                %span= link_to 'Jessica Caswell', Employee.find_by_name('Jessica Caswell')
                %span has been promoted to Assurance Advanced Associate.

        %h3 Advertising
        .row-fluid
          .span10.offset1
            .row-fluid
              .span8.offset2.text-center
                .video-container
                  %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'https://www.youtube.com/embed/TTWmBAZWj9g?&modestbranding=0&controls=1&rel=0&showinfo=0'}
                %p.text-center{style: "margin-top: 5px"} CBS Commercial
            .row-fluid
              .span8.offset2.text-center
                .video-container
                  %iframe.ad-video{width: "46", height: "35", allowfullscreen: true, frameborder: "0", src: 'https://www.youtube.com/embed/K-OcTc7rH8c?&modestbranding=0&controls=1&rel=0&showinfo=0'}
                %p.text-center{style: "margin-top: 5px"} CBS Commercial
