.row-fluid#pay
  .row-fluid.mb-3
    .span10.offset1
      %h2 Make a Payment
      %p.large.text-center Prothro, Wilhelmi & Co. offers 3 quick and easy online payment options

  .row-fluid.mb-3
    .span10.offset1
      .row-fluid
        .span4.mb-2
          .panel
            .row-fluid
              .span12
                %h4.text-center ACH / Bank Transfer
                %p Electronically transfer funds directly from your bank account without any additional fees.
        .span4.mb-2
          .panel
            .row-fluid
              .span12
                %h4.text-center Credit Cards
                %p A 3% service fee will be applied to all credit card transactions.  Debit cards are not accepted.
        .span4
          .panel
            .row-fluid
              .span12
                %h4.text-center Payment Plan
                %p QuickFee offers an easy way for you to pay invoices of $1,500 or more with monthly payments.
  .row-fluid.mb-3
    .text-center
      = link_to 'Pay Now', 'https://www.quickfee.com/QSOP-US/#/company/quickfeeus/firm/prothro', class: 'btn btn-large', target: '_blank'


