.row-fluid#portal
  .span10.offset1
    %h2 Client Portal
    .hero-unit{style: 'padding: 30px'}
      .row-fluid
        .text-center
          %h4 We send and receive files securely through Mango (ImagineTime)
      .row-fluid
        .text-center
          = link_to 'Login to Mango (ImagineTime)', 'https://app.imaginetime.com/user/login', class: 'btn btn-large', target: '_blank'
          %span{style: 'margin: 0 10 20 10'} or
          = link_to 'Send a File', 'https://pw-tx.imaginetime.com/request/file/c831d8493aab8e72672bec43', class: 'btn btn-large', target: '_blank'
    .row-fluid
      %p
        * If you do not have a SafeSend account or need assistance with SafeSend, please
        %span
          = link_to('e-mail our team', "mailto:ahalter@pw-tx.com?subject=Client Portal") + '.'
      %p
        * The Client Portal uses Adobe Acrobat Reader, to get a free copy of Acrobat Reader,
        %span= link_to 'click here', 'http://get.adobe.com/reader/' + '.'
