- @contacts = {'Walter Wilhelmi' => 'Risk Advisory & Audit Partner'}

%p
  As defined by the Institute of Internal Auditors (IIA), internal audit is an independent, objective assurance and consulting activity designed to add value and improve an organization’s operations.  It helps an organization accomplish its objectives by bringing a systematic, disciplined approach to evaluate and improve the effectiveness of risk management, control, and governance processes.

%p
  Whether your business is looking to establish an internal audit function, improve the current internal audit function, outsource the entire internal audit function, or simply co-source a specific area, our team provides experience, insight, and subject matter expertise.

%p
  Our internal audit services include but are not limited to the following industries:

  :markdown
    * Financial Institutions
      * State and National Banks
      * Credit Unions
      * Trust Departments
    * Municipalities and Governmental Entities
      * Cities
      * School Districts
    * Local and Regional Hospitals
    * Specialty Medical Clinics
      * Dermatology
      * Orthopedic