:markdown

  In conjunction with the Internal Audit services that we offer, our team currently offers Regulatory & Compliance services as follows:

  * Independent review of Bank Secrecy Act & Anti Money Laundering (BSA/AML) compliance.\
  * Annual review of compliance with the National Automated Clearing House Association (NACHA) rules and guidelines
  * Compliance with the Texas Comptroller’s Escheatment Guidelines

%p
  %strong For more information, contact:
  %ul
    %li= bio_link("Walter Wilhelmi") + ', Risk Advisory & Audit Partner'
    %li= bio_link("Kyle Davidson") + ', Risk Advisory Supervisor'