- @contacts = {'Walter Wilhelmi' => 'Risk Advisory & Audit Partner'}

%p
  As defined by the Committee of Sponsoring Organizations of the Treadway Commission (COSO), Enterprise Risk Management (ERM) is a process, effected by an entity’s board of directors, management and other personnel, applied in strategy setting and across the enterprise, designed to identify potential events that may affect the entity, and manage risk to be within its risk appetite, to provide reasonable assurance regarding the achievement of entity objectives.

%p
  Our team has developed an efficient and effective process to prepare an assessment of risks affecting our clients’ operations which serves as the foundation of an effective risk management program. Our unique approach of collaborating with management and stakeholders, from frontline to executives, has proven to be effective in obtaining the buy-in and consensus on the prioritization of operational risks. Utilizing this risk assessment, our team assists key stakeholders and the designated committee in developing an overall risk management strategy based upon the risk appetite of the entity.

%p
  Our Risk Assessment and Risk Management experience includes but is not limited to the following industries:

  :markdown
    * Financial Institutions
      * State and National Banks
      * Credit Unions
      * Trust Departments
    * Municipalities and Governmental Entities
      * Cities
      * School Districts
    * Local and Regional Hospitals
    * Specialty Medical Clinics
      * Dermatology
      * Orthopedic
