#about
  .names-container
    height: 34px
    max-width: 500px
    margin-left: auto
    margin-right: auto

  .names
    position: relative
    margin-bottom: -34px

    .name
      display: block
      float: left
      width: 48%
      padding-left: 2%
      background-color: rgba(103,91,77, 0.6)
      color: #eee
      font-weight: 100
      line-height: 12px
      padding-bottom: 5px

    .name.full
      width: 100%
      padding-left: 0
      padding-top: 5px
      padding-bottom: 0px
      line-height: 12px

    .name.filler
      color: rgba(103,91,77, 0.6)

    .name.text-right
      padding-left: 0
      padding-right: 2%

  .panel
    background: #675B4D
    font-size: 15px
    letter-spacing: 0.05em
    font-style: italic
    font-weight: 200
    border-radius: 6px
    color: #EEE
    padding: 25px
