#home
  .panel,
  .hero-unit
    background: #675B4D
    border-radius: 6px
    padding: 10px
    margin: 20px
    -webkit-box-shadow: 3px 3px 10px 3px #333
    box-shadow: 3px 3px 10px 3px #333

    p
      color: #EEE
      line-height: 22px

  .hero-unit
    padding: 40px

    .carousel
      margin-bottom: 0px
      font-family: Georgia, serif
      font-style: italic
      font-weight: 200

      a
        color: #eee
        text-decoration: none

      .partners
        .title
          font-size: 24px
          position: absolute
          margin-left: auto
          margin-right: auto
          left: 0
          right: 0
          text-shadow: 2px 1px 7px #333

        .names
          font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
          font-size: 13px
          width: 100%
          position: absolute
          bottom: -5px
          text-shadow: 2px -2px 1px #333

      .employee
        img
          margin-bottom: -14px
        .name
          line-height: 25px
          text-shadow: 2px -2px 1px #333

  .span6.pull-right + .span6
    padding-right: 10px
    margin-left: 0px

  .dedication
    @include text-shadow(0 1px 0 rgba(204, 197, 188,.5))
    text-align: center
    margin-top: 30px
    margin-bottom: -25px
    padding-left: 15px
    padding-right: 15px
    .preable
      font-size: 15px
    .name
      font-weight: bold
      font-size: 17px
    .title
      font-size: 15px
    .date
      font-size: 13px