#home
  .panel,
  .hero-unit
    background: #675B4D
    border-radius: 6px
    padding: 10px
    margin: 20px
    -webkit-box-shadow: 3px 3px 10px 3px #333
    box-shadow: 3px 3px 10px 3px #333

    p
      color: #EEE
      line-height: 22px

  .panel.update
    background: #a24731
    color: #EEE

  .bbb
    margin-left: auto
    margin-right: auto
    max-width: 150px

  .hero-unit
    padding: 40px

    .carousel
      margin-bottom: 0px
      font-family: Georgia, serif
      font-style: italic
      font-weight: 200

      a
        color: #eee
        text-decoration: none

      .partners
        margin-bottom: 23px

        .title
          font-size: 24px
          position: absolute
          margin-left: auto
          margin-right: auto
          left: 0
          right: 0
          text-shadow: 2px 1px 7px #333

        .names-container
          height: 39px
          max-width: 300px
          margin-left: auto
          margin-right: auto

        .names
          position: relative
          margin-bottom: -52px
          font-size: 14px
          @media only screen and (max-width : 1280px)
            font-size: 12px

          .name
            margin-bottom: 12px
            text-align: left
            display: block
            float: left
            width: 50%
            color: #eee
            font-weight: 100

          .name.text-right
            text-align: right
            padding-left: 0

      .employee
        .name
          position: relative
          bottom: 10px
          margin-bottom: -8px
          text-shadow: 2px -2px 1px #333

  .span6.pull-right + .span6
    padding-right: 10px
    margin-left: 0px

  .dedication
    @include text-shadow(0 1px 0 rgba(204, 197, 188,.5))
    text-align: center
    margin-top: 30px
    margin-bottom: -25px
    padding-left: 15px
    padding-right: 15px
    .preable
      font-size: 15px
    .name
      font-weight: bold
      font-size: 17px
    .title
      font-size: 15px
    .date
      font-size: 13px