.header
  // .brand-container
  text-align: center
  background-color: #685C4E
.header
  .logo
    padding: 27px 0px
    svg
      float: right
      max-width: 500px
      width: 100%

      path, text
        fill: #812529 !important

  .anniversary
    text-align: center
    padding-top: 37px
    img
      max-width: 100%

  .office
    img
      float: left
      max-width: 374px

.navbar
  margin-bottom: 0px

.navbar-inner
  background-color: transparent
  background-image: none
  border: 1px solid #2E2823
  color: #FFF
  border-radius: 0px
  overflow: hidden

.navbar .nav > li > a,
  color: #FFF
  text-shadow: none

  &:hover
    color: #500104

.nav-header
  color: #FFF
  text-shadow: none
  font-size: 14px
  margin-left: 0px !important

.tabs-left > .nav-tabs > li
  margin-left: 10px

.ul.nav-tabs

.navbar .divider-vertical
  height: 40px
  margin: 0 5px
  border-left: none
  border-right: none

.navbar .nav,
.navbar .nav > li
  float: none
  display: inline-block
  *display: inline
  *zoom: 1
  vertical-align: top

.navbar-inner
  text-align: center