.header
  // .brand-container
  text-align: center
  // background-color: #685C4E
  background-color: #9a8b7a
.header
  .mobile
    .logo
      float: left
      width: 60%
      padding: 18px 0px
      margin-right: 2.5%
      margin-left: 20%

      svg
        float: none
    .anniversary
      float: left
      width: 15%
      svg
        height: auto
  .logo
    text-align: center
    padding: 35px 0px 0px 60px
    width: 44%
    svg
      float: right
      display: inline
      max-width: 500px
      width: 100%

      path, text
        fill: #812529 !important

  .anniversary
    width: 10%
    text-align: center
    padding: 30px 0px
    svg
      max-width: 125px
      width: 100%

      path, text
        fill: #eee !important
      #g96
        opacity: 1 !important

  .office
    .office-container
      float: left
      position: relative

      img
        width: 100%
        max-width: 374px
      .blur
        position: absolute
        z-index: 2
        top: 0px
        left: 0px
        height: 100%
        width: 20%
        background: none
        // background: linear-gradient(to left, rgba(104,92,78,0), rgba(104,92,78,1))
        background: linear-gradient(to left, rgba(154,139,122,0), rgba(154,139,122,1))

        @media only screen and (max-width : 767px)
          background: none


.navbar
  margin-bottom: 0px

.navbar-inner
  background-color: transparent
  background-image: none
  border: 1px solid #2E2823
  color: #FFF
  border-radius: 0px
  overflow: hidden

.navbar .nav > li > a,
  color: #FFF
  text-shadow: none

  &:hover
    color: #500104

.nav-header
  color: #FFF
  text-shadow: none
  font-size: 14px
  margin-left: 0px !important

.tabs-left > .nav-tabs > li
  margin-left: 10px

.ul.nav-tabs

.navbar .divider-vertical
  height: 40px
  margin: 0 5px
  border-left: none
  border-right: none

.navbar .nav,
.navbar .nav > li
  float: none
  display: inline-block
  *display: inline
  *zoom: 1
  vertical-align: top

.navbar-inner
  text-align: center