#services
  .tab-content
    p, li
    font-size: 14px

    h5
      text-decoration: none

    p + p
      margin-top: 20px

    .qb-logo img
      max-width: 100px

  .panel
    background: #675B4D
    border-radius: 6px
    padding: 10px
    margin: 20px
    -webkit-box-shadow: 3px 3px 10px 3px #333
    box-shadow: 3px 3px 10px 3px #333

    p
      color: #EEE
      line-height: 22px

  .tabs-left.index-only > .nav-tabs
    border-right: none

    li > a
      border-radius: 4px