.row#footer
  .about.text-center
    %small
      %span &copy;
      %span= Time.zone.now.year
      %span Prothro, Wilhelmi, and Company., PLLC
      .info
        %span 6855 Oak Hill Blvd. Tyler, Texas 75703
      .info
        %span 903.534.8811
      .info
        = link_to "LinkedIn™", 'https://www.linkedin.com/company/prothro-wilhelmi-&-company-pllc', target: '_blank'
      .info
        %em Hours:
        %span 8am-5pm M-F